html,
body {
  width: 100%;
  height: 100%;
}

/*Landing Section*/

.landing-section {
  display: table;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  text-align: center;
  background: linear-gradient( rgba(33, 37, 41, .45), rgba(0, 0, 0, 0.35)), url('img/tele.png') no-repeat top;
  /*background:rgba(0, 0, 0, 0.5);*/
  background-size: cover;
  margin-bottom: 50px;
}

.btn {
  margin-top: 100px;
}

#title {
  padding-top: 50px;
  font-size: 100px;
  color: white;
}

.heading {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: white;
}


h2,
h4 {
  color: #212529;
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}


body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.card {
  height: 100%;
}

@media (min-width: 768px) {
  .intro-text {
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  }
}

.intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
  text-align: center;
  color: white;
}


.intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  .intro-text {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 300px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;

}

.btn-circle:focus,
.btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

/*About Section*/

.about-section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  /*padding-top: 500px;*/
  /*padding-bottom: 500px;*/
}

@media (min-width: 992px) {
  .content-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.2;
    margin: 0 0 35px;
  }
}

header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0;
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}

header.masthead .post-heading h1 {
  font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: 'Lora', 'Times New Roman', serif;
}

header.masthead .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}

/*seniors*/

#seniors-landing {
  padding-top: 125px;
  padding-bottom: 125px;
  background-image: url('img/campus.jpg');
}

#juniors-landing {
  padding-top: 125px;
  padding-bottom: 125px;
  background-image: url('img/advice.jpg');
}

#advice {
  border-radius: 25px;
}

#test {
  color: black;
  /*font-family: 'Lobster Two', cursive;*/
  font-size: 25px;
  box-shadow: 5px 5px #07575B;
  background-color: #C4DFE6;
  /*border-radius: 25px;*/
}

/*#special {*/
/*  box-shadow: 5px 5px #669966;*/
/*}*/
.topic {
  text-align: center;
  font-size: 37px;
  background-color: #C4DFE6;
  font-family: 'Lobster', cursive;
  box-shadow: 5px 5px #07575B;
}

/*parents*/
.dropdown{
  padding-left: 500px;
  height: 50px;
}
li .dropdown-menu{
  padding-left: 500px;
}